<main class="index">
  <header class="bg-image d-flex">
    <div class="text-center m-auto p-5 ">
      <h1 class="mb-1 display-1">Inventario</h1>
      <h3 class="mb-5">
        <em>Almacene los productos que desee...</em>
      </h3>
      <a class="btn btn-primary btn-lg" href="/signin">
        Empezemos
      </a>
    </div>
    <div class="overlay"></div>
  </header>
</main>
